<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>vuebx</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="/dev/main.js"></script>
</head>
<body>

<h3>bx-button</h3>

<div id="app1">
  <bx-button class="btn-success">Success</bx-button>
  <bx-button class="btn-danger">Danger</bx-button>
  <bx-button class="btn-link">Link</bx-button>
</div>

<script>
  new Vue({el: '#app1'})
</script>

<hr>
<h3>bx-entity-selector</h3>

<div id="app2">
  <bx-button v-on:click.native="showPopup">Show entity selector</bx-button>
  <bx-entity-select
    v-bind:items="items"
    v-bind:default-items="defaultItems"
    v-bind:is-visible="showEntitySelector"
    v-bind:ok-button-text="okButton"
    v-bind:cancel-button-text="cancelButton"
    v-on:apply="onItemsSelected($event)"
    v-on:cancel="onCancelSelection()"
    v-on:search-input="onSearchInput($event)"
  ></bx-entity-select>
  <div>
    <bx-chip close href="#" v-for="(item, index) in defaultItems" v-bind:key="item.id" v-on:close="onRemoveItem(index)">
      {{ item.text }}
    </bx-chip>
    <input type="hidden" v-for="item in defaultItems" name="item[]" :value="item.id">
  </div>
</div>

<script>
  new Vue({
    el: '#app2',
    data() {
      return {
        showEntitySelector: false,
        okButton: 'Выбрать',
        cancelButton: 'Отмена',
        searchInput: null,
        defaultItems: [
          {id: 5, text: ';Общество с огранченной ответственностью ОБЪЕДИНЕНИЕ КРАСНОДАРСКИЙ ЧАЙ'},
        ],
        items: [
          {id: 1, text: 'Компания 1'},
          {id: 2, text: ';Общество с огранченной ответственностью ОБЪЕДИНЕНИЕ КРАСНОДАРСКИЙ ЧАЙ'},
          {id: 3, text: 'Компания 3'},
        ]
      }
    },
    methods: {
      showPopup() {
        this.showEntitySelector = true;
      },
      onItemsSelected(selectedItems) {
        this.defaultItems = selectedItems;
        this.showEntitySelector = false;
      },
      onCancelSelection() {
        this.showEntitySelector = false;
      },
      onRemoveItem(index) {
        this.defaultItems.splice(index, 1);
      },
      onSearchInput(val) {
        let result = [];
        for (let i = 1; i < 15; i++) {
          result.push({ id: i, text: val + '_' + i });
        }
        this.items = result;
      }
    },
  })
</script>

<hr>
<h3>bx-chip</h3>

<div id="app3">
  <bx-chip close v-on:close="removeSimple()">Просто текст</bx-chip>
  <br>
  <bx-chip v-bind:href="href">Текст со ссылкой</bx-chip>
</div>

<script>
  new Vue({
    el: '#app3',
    data() {
      return {
        href: '/example'
      }
    },
    methods: {
      removeSimple() {
        alert('I will die');
      }
    }
  })
</script>

</body>
</html>